<div class="comparison-dialog__overlay">
  <div class="comparison-dialog__container">
    <h1 class="comparison-dialog__title">{{ 'COMPARISON.TITLE' | translate }}</h1>
    <div class="comparison-dialog__content">
      <input type="text" placeholder="Search" class="sticky-search" [(ngModel)]="sortSearchTerm" (keyup)="search()">
      <table>
        <thead>
          <tr>
            <th class="sticky-header">{{ 'COMPARISON.NAME' | translate }}</th>
            <th class="sticky-header">{{ 'COMPARISON.METHOD' | translate }}</th>
            <th class="sticky-header">{{ 'COMPARISON.BEST' | translate }}</th>
            <th class="sticky-header">{{ 'COMPARISON.AVERAGE' | translate }}</th>
            <th class="sticky-header">{{ 'COMPARISON.WORST' | translate }}</th>
            <th class="sticky-header">{{ 'COMPARISON.MEMORY' | translate }}</th>
          </tr>
        </thead>
        <tbody class="comparison-dialog__table">
          <tr *ngFor="let algo of filteredAlgorithms">
            <td>
              <a [href]="algo?.link" [title]="algo?.label" target="_blank" class="comparison-dialog__link">
                {{ algo?.label }}
              </a>
            </td>
            <td>{{ algo?.category }}</td>
            <td [innerHTML]="algo?.best | bigONotation" [style.background-color]="complexityTime?.get(algo?.best)"></td>
            <td [innerHTML]="algo?.average | bigONotation" [style.background-color]="complexityTime?.get(algo?.average)"></td>
            <td [innerHTML]="algo?.worst | bigONotation" [style.background-color]="complexityTime?.get(algo?.worst)"></td>
            <td [innerHTML]="algo?.memory | bigONotation" [style.background-color]="complexitySpace?.get(algo?.memory)"></td>
          </tr>
          <tr>
            <td colspan="6">
              Total results: {{ filteredAlgorithms?.length }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="comparison-dialog__footer">
      <button (click)="closeDialog()" [title]="'INTRO.CLOSE' | translate">
        {{ 'COMPARISON.CLOSE' | translate }}
      </button>
    </div>
  </div>
</div>