.sort {
  &__container {
    position: relative;

    &--swap {
      box-shadow: 0px 0px 2rem .2rem red;
    }

    &--pivot {
      box-shadow: 0px 0px 2rem .2rem green;
    }
  }

  &__bar {
    width: 1rem;
    margin: 0 .1rem;
    position: relative;

    &:hover {
      background-color: white !important;
      box-shadow: 0px 0px 2rem .2rem white;
    }

    &--bamboo {
      display: block;
      height: 100%;
      background: repeating-linear-gradient(rgba(1, .2, .2, .5), rgba(1, .2, .2, .5) 20px, rgba(1, .2, .2, .7) 20px, rgba(1, .2, .2, .7) 22px);
      animation: sway 6s ease-in-out infinite;
      transform-origin: bottom;
    }
  }

  &__point {
    width: 1rem;
    height: 1rem;
    margin: 0 .1rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

    &:hover {
      background-color: white !important;
    }

    &--balloon {
      animation: float 6s ease-in-out infinite;

      &:after {
        content: '|';
        position: absolute;
        top: 90%;
        left: 40%;
      }
    }
  }

  &__number {
    width: 1rem;
    height: 1rem;
    margin: 0 .1rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    cursor: default;
  }

  &__label {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    padding: .2rem;
    border-radius: .8rem;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    animation: info-appear .2s ease-in-out;
  }
}

@keyframes label-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes sway {
  0% {
		transform: rotate(0deg)
	}
	33% {
		transform: rotate(-1deg)
	}
	66% {
		transform: rotate(1deg)
	}
  100% {
		transform: rotate(0deg)
	}
}