.sort {
  &__container {
    position: relative;
  }

  &__bar {
    width: 1rem;
    margin: 0 .1rem;

    &:hover {
      background-color: white !important;
    }
  }

  &__point {
    width: 1rem;
    height: 1rem;
    margin: 0 .1rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: white !important;
    }
  }

  &__label {
    position: absolute;
    color: white;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}