@import './../../../styles.scss';

:host {
  position: relative;
}

.sort {
  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__header {
    width: 100%;
    height: 6rem;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 1.5rem 1rem;
    display: flex;
    overflow-x: auto;

    &--select {
      width: fit-content;
    }

    &--menu {
      color: white;
      padding: 0px 1rem;
      line-height: 3rem;
      margin-left: .2rem;
      cursor: pointer;

      @include respond(md) {
        display: none;
      }
    }

    &--title {
      color: white;
      padding: 0px 1rem;
      line-height: 3rem;
      margin-left: 1.2rem;

      @include respond(md) {
        display: none;
      }
    }

    &--button-menu {
      color: white;
      cursor: pointer;
      font-size: 2rem;
      padding: .2rem .5rem;
    }

    &--button-menu-bar {
      background-color: white;
      width: 2rem;
      height: .2rem;
      margin: .5rem 0px;
      transition: all .2s ease-in-out;
      transform-origin: center;

      &--expanded:nth-child(1) {
        transform: translateY(.7rem) rotate(45deg);
      }

      &--expanded:nth-child(2) {
        opacity: 0;
      }

      &--expanded:nth-child(3) {
        transform: translateY(-.7rem) rotate(-45deg);
      }
    }

    button {
      margin: 0 1rem;
    }

    &--lang {
      margin-left: auto;
    }
  }

  &__subheader {
    display: flex;
    overflow-x: auto;
  }

  &__info {
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    border-radius: 1rem;
    width: 20rem;
    height: fit-content;
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
    animation: info-appear .2s ease-in-out;

    &--header {
      display: flex;
      justify-content: space-between;

      &:hover {
        .sort__info--title--icon {
          transform: rotate(360deg);
        }
      }
    }

    &--collapsed {
      transform: rotate(180deg);
    }

    &--title {

      &--icon {
        display: inline-block;
        transition: all .2s ease-in-out;
      }
    }

    &--value {
      float: right;
    }

    &--input-half {
      width: 50%;
    }

    &--info {
      width: 30rem;
    }

    &--warning {
      color: red;
    }
  }

  &__container {
    width: fit-content;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
  }

  &__footer {
    width: 100%;
    overflow-x: auto;
    height: 4rem;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 1.2rem 0;
    padding-right: 1rem;
    padding-left: 2rem;

    &--link {
      cursor: pointer;
      color: white;
      text-decoration: none;
      padding-left: 2rem;
      white-space: nowrap;

      &:hover {
        color: turquoise;
      }

      &:after {
        color: white;
        content: "|";
        padding-left: 2rem;
      }

      &:last-child:after {
        content: "";
        padding-left: 0px;
      }
    }
  }
}

.fullscreen-load {

  &__overlay {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(1, 1, 1, 0.75);
    animation: info-appear .2s ease-in-out;
  }

  &__text {
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    margin: auto;
    width: fit-content;
    transform: translateX(-50%);
  }
}

@keyframes info-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}