@import './../../../styles.scss';

*, *:before, *:after {
  transition: all .2s ease-in-out;
}

:host {
  position: relative;
}

.sort {
  &__wrapper {
    width: 100%;
    height: 100vh;
    position: relative;

    &--msafari {
      height: calc(100vh - 8rem);
    }
  }

  &__header {
    width: 100%;
    height: 5rem;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 1rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    animation: header-appear 1s ease-in-out;

    &--dropdown-container {
      position: relative;
      width: 22rem;
      height: 20rem;
    }

    &--dropdown-search {
      position: absolute;
      left: 0px;
      top: 0px;
      padding-left: 2.4rem !important;

      &--disabled {
        background-color: lightgray;
      }
    }

    &--dropdown-icon {
      position: absolute;
      left: .8rem;
      top: .8rem;
      width: 1rem;
      height: 1rem;
      border: 2px solid gray;
      border-radius: 50%;
      background-color: transparent;

      &:before {
        content: ' ';
        width: 0.2rem;
        height: 0.8rem;
        position: absolute;
        left: .5rem;
        top: .5rem;
        background-color: gray;
        transform: rotate(-30deg);
      }
    }

    &--close-icon {
      position: absolute;
      right: 0px;
      top: .1rem;
      width: 3rem;
      height: 3rem;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
      line-height: 3rem;
      border-radius: .8rem;
      color: gray;
      cursor: pointer;
      
      &:hover {
        background-color: turquoise;
      }
    }

    &--select-algo {
      width: 22rem;
    }

    &--select-lang {
      width: fit-content;
    }

    &--select-empty {
      color: red;
    }

    &--title {
      color: white;
      padding: 0px 1rem;
      line-height: 3rem;
      margin-left: 1.2rem;

      @include respond(md) {
        display: none;
      }
    }

    &--button-menu {
      color: white;
      cursor: pointer;
      font-size: 2rem;
      padding: .2rem .5rem;
    }

    &--menu {
      color: white;
      padding: 0px 1rem;
      line-height: 3rem;
      font-size: 2rem;
      margin-left: .2rem;
      cursor: pointer;
      position: relative;

      @include respond(md) {
        display: none;
      }
    }

    &--button-menu-bar {
      background-color: white;
      width: 2rem;
      height: .2rem;
      margin: .5rem 0px;
      transition: all .2s ease-in-out;
      transform-origin: center;

      &--expanded:nth-child(1) {
        transform: translateY(.7rem) rotate(45deg);
      }

      &--expanded:nth-child(2) {
        opacity: 0;
      }

      &--expanded:nth-child(3) {
        transform: translateY(-.7rem) rotate(-45deg);
      }
    }

    &--menu-container {
      display: flex;

      @include respond(md) {
        margin: 0px !important;
      }

      &:hover .sort__header--button-menu-bar {
        background-color: turquoise;
      }

      &:hover .sort__header--menu {
        color: turquoise;
      }
    }

    button {
      margin: 0 1rem;
    }

    &--lang {
      margin-left: auto;
    }
  }

  &__subheader {
    display: flex;
    overflow-x: auto;
  }

  &__info {
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    border-radius: 1rem;
    width: 20rem;
    height: fit-content;
    padding: 2rem;
    margin: 1rem;
    z-index: 2;
    flex-shrink: 0;
    animation: info-appear .5s ease-in-out;

    &--header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        color: turquoise;

        .sort__info--title--icon {
          transform: rotate(360deg);
        }
      }
    }

    &--link {
      cursor: pointer;
      font-size: 1.4rem;

      &:after {
        display: inline-block;
        content: '>';
        margin-left: 0px;
        opacity: 0;
      }

      &:hover:after {
        margin-left: .4rem;
        opacity: 1;
      }
    }

    &--collapsed {
      transform: rotate(180deg);
    }

    &--title {

      &--icon {
        display: inline-block;
        transition: all .2s ease-in-out;
      }
    }

    &--value {
      float: right;
    }

    &--input-half-container {
      display: flex;
    }

    &--input-half {
      width: 50%;
    }

    &--info {
      width: 30rem;
    }

    &--warning {
      color: red;
    }
  }

  &__container {
    width: fit-content;
    position: absolute;
    bottom: 4.2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;

    &--polyline {
      position: absolute;
      z-index: -1;
      transform-origin: center;
      transform: scale(1, -1);
      
      polyline {
        fill: none;
        stroke: turquoise;
        stroke-width: 1;
      }
    }
  }

  &__footer {
    width: 100%;
    overflow-x: auto;
    height: 4.2rem;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 1.2rem 0;
    padding-right: 1rem;
    padding-left: 2rem;
    animation: footer-appear 1s ease-in-out;

    &--link {
      cursor: pointer;
      color: white !important;
      text-decoration: none;
      margin: 0px 2.8rem;
      white-space: nowrap;
      overflow-y: visible;

      &:hover {
        color: turquoise !important;
      }
    }

    &--separator {
      color: white;
    }
  }
}

.fullscreen-load {

  &__overlay {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(1, 1, 1, 0.75);
    animation: info-appear .2s ease-in-out;
  }

  &__text {
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    margin: auto;
    width: fit-content;
    transform: translateX(-50%);
  }
}

@keyframes info-appear {
  from { opacity: 0; transform: translateY(-150%); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes loading-appear {
  from { opacity: 0; }
  to { opacity: 0.75; }
}

@keyframes menu-chevron-appear {
  from { opacity: 0; right: 1rem; }
  to { opacity: 1; right: -1rem; }
}

@keyframes footer-appear {
  from { bottom: -4rem; }
  to { bottom: 0px; }
}

@keyframes header-appear {
  from { transform: translateY(-5rem); }
  to { transform: translateY(0px); }
}