<div class="sort__wrapper">
  <div class="sort__header">
    <div class="sort__header--button-menu" [ngClass]="{ 'sort__subheader--expanded': showControlPanel }" (click)="showControlPanel = !showControlPanel">
      &#9776;
    </div>
    <h1 class="sort__header--menu" (click)="showControlPanel = !showControlPanel">Menu</h1>
    <h1 class="sort__header--title">Sorting Visualizer</h1>
    <button (click)="resetArray()" [disabled]="sorting">Generate / Reset</button>
    <select name="sorts" id="sorts" [disabled]="sorting" [(ngModel)]="sortMethod" (change)="selectAlgorithm(sortMethod)">
      <option value="" disabled selected hidden>Choose algorithm</option>
      <optgroup *ngFor="let category of sortAlgorithms" [label]="category?.category">
        <option *ngFor="let algorithm of category?.algorithms" [value]="algorithm?.value">{{ algorithm?.label }}</option>
      </optgroup>
    </select>
    <button (click)="!sorting ? sort(sortArray, sortMethod) : stop()" [disabled]="!sortMethod.length">{{ sorting ? 'Stop' : 'Start' }}</button>
  </div>
  <div *ngIf="showControlPanel" class="sort__subheader">
    <div class="sort__info" #settings>
      <p class="sort__info--header" (click)="showSettings = !showSettings">
        <span class="sort__info--title">&#9881; Settings:</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showSettings }">&#x25B2;</span>
      </p>
      <div *ngIf="showSettings">
        <br>
        <input type="checkbox" id="enable-audio" [(ngModel)]="enableAudio"/>
        <label for="enable-audio">Enable Audio</label><br>
        <input type="checkbox" id="show-values" [(ngModel)]="showValues"/>
        <label for="show-values">Show Values</label>
        <br><br>
        <label>Element Count:</label>
        <input type="number" min="0" [(ngModel)]="elementCount"/>
        <label>Min / Max:</label>
        <div>
          <input type="number" class="sort__info--input-half" min="0" [(ngModel)]="minValue"/>
          <input type="number" class="sort__info--input-half" [min]="minValue" [(ngModel)]="maxValue"/>
        </div>
      </div>
    </div>
    <div class="sort__info" #statistics>
      <p class="sort__info--header" (click)="showStatistics = !showStatistics">
        <span class="sort__info--title">&#9871; Statistics:</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showStatistics }">&#x25B2;</span>
      </p>
      <p *ngIf="showStatistics">
        <br>
        Sort Attempts:&nbsp;<span class="sort__info--value">{{ sortAttempts }}</span><br>
        Elements:&nbsp;<span class="sort__info--value">{{ sortArray?.length }}</span><br>
        Compares:&nbsp;<span class="sort__info--value">{{ noOfCompares }}</span><br>
        Swaps:&nbsp;<span class="sort__info--value">{{ noOfSwaps }}</span><br>
      </p>
    </div>
    <div class="sort__info sort__info--info" #information>
      <p class="sort__info--header" (click)="showInfo = !showInfo">
        <span class="sort__info--title">? Algorithm Information: {{ sortMethod ? (sortMethod | titlecase) + 'sort' : 'None selected' }}</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showInfo }">&#x25B2;</span>
      </p>
      <p *ngIf="showInfo">
        <br>
        {{ sortDescription }} <a *ngIf="sortLink" href="{{ sortLink }}" target="_blank" [title]="(sortMethod | titlecase) + 'sort'">Wikipedia.</a>
      </p>
    </div>
    <!-- <div class="sort__info sort__info--credits" #credits>
      <p class="sort__info--header" (click)="showCredits = !showCredits">
        <span class="sort__info--title">&copy; Credits:</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showCredits }">&#x25B2;</span>
      </p>
      <p *ngIf="showCredits">
        <br>
        Jasper Yeo<br>jasper.yeo.media@gmail.com
      </p>
    </div> -->
  </div>
  <div class="sort__container">
    <sort-bar *ngFor="let bar of sortArray; index as i;"
      [id]="bar.id" [sortDelay]="bar.sortDelay" [value]="bar.value" [selected]="bar.selected" [showValue]="showValues">
    </sort-bar>
  </div>
</div>