<div class="sort__wrapper"  [class.sort__wrapper--msafari]="isMobileSafari">
  <div class="sort__header">
    <button class="btn btn__minimal sort__header--menu-container" (click)="showControlPanel = !showControlPanel">
      <div class="sort__header--button-menu">
        <div class="sort__header--button-menu-bar" [ngClass]="{ 'sort__header--button-menu-bar--expanded': showControlPanel }"></div>
        <div class="sort__header--button-menu-bar" [ngClass]="{ 'sort__header--button-menu-bar--expanded': showControlPanel }"></div>
        <div class="sort__header--button-menu-bar" [ngClass]="{ 'sort__header--button-menu-bar--expanded': showControlPanel }"></div>
      </div>
      <p class="sort__header--menu">{{ 'HEADER.MENU' | translate }}</p>
    </button>
    <h1 class="sort__header--title">{{ 'TITLE' | translate }}</h1>
    <button (click)="resetArray()" [disabled]="sorting" [title]="'HEADER.RESET' | translate">&#8634;</button>
    <div class="sort__header--dropdown-container">
      <select id="select-algorithm-dropdown" [disabled]="sorting || !sortAlgorithms.length" [(ngModel)]="sortMethod"
        (change)="selectAlgorithm(sortMethod); closeAlgoDropdown($event)" class="sort__header--select-algo">
        <option value="" disabled selected hidden>{{ 'HEADER.CHOOSE_ALGORITHM' | translate }}</option>
        <optgroup [label]="filteredAlgorithms?.length + ('HEADER.RESULTS' | translate)" [class.sort__header--select-empty]="!filteredAlgorithms?.length"></optgroup>
        <optgroup [label]="'-------------------------------'"></optgroup>
        <ng-container *ngFor="let category of sortAlgorithms">
          <optgroup [label]="category?.category + ' (' + category?.count + ')'">
            <ng-container *ngFor="let algorithm of filteredAlgorithms">
              <option *ngIf="algorithm?.category === category?.category" [value]="algorithm?.value">{{ algorithm?.label }}</option>
            </ng-container>
          </optgroup>
        </ng-container>
      </select>
      <input type="text" id="select-algorithm-search" class="sort__header--dropdown-search" (keyup)="search()" [disabled]="sorting"
        [(ngModel)]="selectAlgorithmSearchTerm" (focus)="openAlgoDropdown()" [placeholder]="'HEADER.CHOOSE_ALGORITHM' | translate"
        [class.sort__header--dropdown-search--disabled]="sorting"/>
      <div class="sort__header--dropdown-icon"></div>
    </div>
    <button *ngIf="!dropdownOpened"
      (click)="!sorting ? sort(sortArray, sortMethod) : stop()"
      [disabled]="!sortMethod.length ||
      elementCount < 2 || (elementCount * 4) >= viewWidth ||
      minValue <= 0 || maxValue * 0.8 > viewHeight"
      [title]="sorting ? ('HEADER.STOP' | translate) : ('HEADER.START' | translate)">
      <span *ngIf="sorting">&#8718;</span>
      <span *ngIf="!sorting">&#8811;</span>
    </button>
    <div class="sort__header--lang">
      <select id="langs-dropdown" [(ngModel)]="lang" (change)="selectLang(lang)" class="sort__header--select-lang">
        <option *ngFor="let lang of langs" [value]="lang?.value">{{ lang?.label }}</option>
      </select>
    </div>
  </div>
  <div class="sort__subheader">
    <div *ngIf="showControlPanel" class="sort__info" #settings>
      <p class="sort__info--header" (click)="showSettings = !showSettings">
        <span class="sort__info--title"><span class="sort__info--title--icon">&#9881;</span> {{ 'SUBHEADER.SETTINGS.TITLE' | translate }}:</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showSettings }">&#x25B2;</span>
      </p>
      <div *ngIf="showControlPanel && showSettings">
        <br>
        <input type="checkbox" id="enable-audio" [(ngModel)]="enableAudio"/>
        <label for="enable-audio">{{ 'SUBHEADER.SETTINGS.ENABLE_AUDIO' | translate }}</label><br>
        <input type="checkbox" id="show-values" [(ngModel)]="showValues"/>
        <label for="show-values">{{ 'SUBHEADER.SETTINGS.SHOW_VALUES' | translate }}</label><br>
        <br>
        <label>{{ 'SUBHEADER.SETTINGS.DELAY' | translate }}: {{ sortDelay === 0 ? ('SUBHEADER.SETTINGS.DELAY_FAST' | translate) : sortDelay === 100 ? ('SUBHEADER.SETTINGS.DELAY_SLOW' | translate) : ('SUBHEADER.SETTINGS.DELAY_NORMAL' | translate) }}</label><br>
        <input type="range" id="sortDelay" name="sortDelay" min="0" max="100" step="50" value="50" [(ngModel)]="sortDelay">
        <br><br>
        <hr />
        <br>
        <label>{{ 'SUBHEADER.SETTINGS.VISUALISER_STYLE' | translate }}:</label>
        <select id="styles-dropdown" [disabled]="sorting" [(ngModel)]="sortStyle" (change)="resetArray()">
          <optgroup *ngFor="let styleCategory of sortStyles" [label]="'SUBHEADER.SETTINGS.' + styleCategory?.category | translate">
            <option *ngFor="let style of styleCategory?.styles" [value]="style">{{ ('SUBHEADER.SETTINGS.' + style) | translate }}</option>
          </optgroup>
        </select>
        <br><br>
        <label>{{ 'SUBHEADER.SETTINGS.ELEMENT_COUNT' | translate }}:</label>
        <input type="number" min="2" [(ngModel)]="elementCount" [disabled]="sorting || sortMethod.toUpperCase() === 'BITONIC'"/>
        <label *ngIf="elementCount < 2" class="sort__info--warning">{{ 'SUBHEADER.SETTINGS.ELEMENT_COUNT_MIN_WARNING' | translate }}</label>
        <label *ngIf="elementCount >= viewWidth / 12" class="sort__info--warning">{{ 'SUBHEADER.SETTINGS.ELEMENT_COUNT_MAX_WARNING' | translate }}</label>
        <br><br>
        <label>{{ 'SUBHEADER.SETTINGS.MIN_MAX' | translate }}:</label>
        <div>
          <input type="number" class="sort__info--input-half" min="0" [(ngModel)]="minValue" [disabled]="sorting"/>
          <input type="number" class="sort__info--input-half" [min]="minValue" [(ngModel)]="maxValue" [disabled]="sorting"/>
        </div>
        <label *ngIf="minValue <= 0" class="sort__info--warning">{{ 'SUBHEADER.SETTINGS.MIN_MAX_MIN_WARNING' | translate }}</label>
        <label *ngIf="maxValue > viewHeight * 0.45" class="sort__info--warning">{{ 'SUBHEADER.SETTINGS.MIN_MAX_MAX_WARNING' | translate }}</label>
      </div>
    </div>
    <div *ngIf="showControlPanel" class="sort__info" #statistics>
      <p class="sort__info--header" (click)="showStatistics = !showStatistics">
        <span class="sort__info--title"><span class="sort__info--title--icon">&#9871;</span> {{ 'SUBHEADER.STATISTICS.TITLE' | translate }}:</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showStatistics }">&#x25B2;</span>
      </p>
      <label *ngIf="showControlPanel && showStatistics">
        <br>
        {{ 'SUBHEADER.STATISTICS.SORT_ATTEMPTS' | translate }}:&nbsp;<span class="sort__info--value">{{ sortAttempts }}</span><br>
        {{ 'SUBHEADER.STATISTICS.ELEMENTS' | translate }}:&nbsp;<span class="sort__info--value">{{ sortArray?.length }}</span><br>
        {{ 'SUBHEADER.STATISTICS.COMPARES' | translate }}:&nbsp;<span class="sort__info--value">{{ noOfCompares }}</span><br>
        {{ 'SUBHEADER.STATISTICS.SWAPS' | translate }}:&nbsp;<span class="sort__info--value">{{ noOfSwaps }}</span><br>
        <br>
        <hr />
        <br>
        <table>
          <tbody>
            <tr>
              <td>{{ 'COMPARISON.BEST' | translate }}</td>
              <td [style.background-color]="complexityTime?.get(selectedAlgorithm?.best)">
                <span class="sort__info--value" [innerHTML]="selectedAlgorithm?.best | bigONotation"></span>
              </td>
            </tr>
            <tr>
              <td>{{ 'COMPARISON.AVERAGE' | translate }}</td>
              <td [style.background-color]="complexityTime?.get(selectedAlgorithm?.average)">
                <span class="sort__info--value" [innerHTML]="selectedAlgorithm?.average | bigONotation"></span>
              </td>
            </tr>
            <tr>
              <td>{{ 'COMPARISON.WORST' | translate }}</td>
              <td [style.background-color]="complexityTime?.get(selectedAlgorithm?.worst)">
                <span class="sort__info--value" [innerHTML]="selectedAlgorithm?.worst | bigONotation"></span>
              </td>
            </tr>
            <tr>
              <td>{{ 'COMPARISON.MEMORY' | translate }}</td>
              <td [style.background-color]="complexitySpace?.get(selectedAlgorithm?.memory)">
                <span class="sort__info--value" [innerHTML]="selectedAlgorithm?.memory | bigONotation"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </label>
    </div>
    <div *ngIf="showControlPanel" class="sort__info sort__info--info" #information>
      <p class="sort__info--header" (click)="showInfo = !showInfo">
        <span class="sort__info--title"><span class="sort__info--title--icon">?</span> {{ 'SUBHEADER.ALGORITHM_INFORMATION.TITLE' | translate }}:</span>
        <span [ngClass]="{ 'sort__info--collapsed': !showInfo }">&#x25B2;</span>
      </p>
      <label *ngIf="showControlPanel && showInfo">
        <br>
        <span>{{ sortMethod ? sortMethod + ' Sort' : ('SUBHEADER.ALGORITHM_INFORMATION.NONE' | translate) }}</span><br>
        {{ sortDescription }} <a *ngIf="sortLink" href="{{ sortLink }}" target="_blank" [title]="sortMethod + ' Sort'" class="sort__info--link">{{ 'SUBHEADER.ALGORITHM_INFORMATION.WIKIPEDIA' | translate }}</a>
      </label>
    </div>
  </div>
  <div class="sort__container">
    <sort-bar *ngFor="let bar of sortArray; index as i;"
      [id]="bar.id" [sortDelay]="bar.sortDelay" [value]="bar.value" [valueString]="bar.valueString" [color]="bar.color" [style]="bar.style" [showValue]="showValues">
    </sort-bar>
    <svg *ngIf="sortStyle === 'LINE'" height="100%" width="100%" class="sort__container--polyline">
      <polyline id="polyline" points="" />
    </svg>
  </div>
  <div class="sort__footer">
    <button class="btn__minimal sort__footer--link" [title]="'FOOTER.ABOUT' | translate" (click)="showIntro = true">{{ 'FOOTER.ABOUT' | translate }}</button>
    <p class="sort__footer--separator">|</p>
    <button class="btn__minimal sort__footer--link" [title]="'FOOTER.COMPARISON' | translate" (click)="showComparison = true">{{ 'FOOTER.COMPARISON' | translate }}</button>
    <p class="sort__footer--separator">|</p>
    <a class="sort__footer--link" [title]="'FOOTER.GITHUB' | translate" href="https://github.com/jasperyeo/sorting-visualizer" target="_blank">{{ 'FOOTER.GITHUB' | translate }}</a>
  </div>
</div>

<div *ngIf="loading" class="fullscreen-load__overlay">
  <p class="fullscreen-load__text">{{ 'LOADING' | translate }}</p>
</div>

<intro-dialog *ngIf="showIntro" (onDialogClose)="showIntro = false"></intro-dialog>
<comparison-dialog *ngIf="showComparison" [algorithms]="sortAlgorithms" (onDialogClose)="showComparison = false"></comparison-dialog>