<div class="intro-dialog__overlay">
  <div class="intro-dialog__container">
    <h1 class="intro-dialog__title">{{ 'INTRO.TITLE' | translate }}</h1>
    <div class="intro-dialog__content">
      <img class="intro-dialog__preview" src="./assets/images/large-image-preview.png" [alt]="'TITLE' | translate" width="1200" height="630">
      <br><br>
      <p>
        {{ 'INTRO.CTA' | translate }}
      </p>
      <br><br>
      <div>
        <p>{{ 'INTRO.CRED' | translate }}</p>
        <div class="intro-dialog__icons-container">
          <a class="intro-dialog__icon-url" [href]="'INTRO.CRED_LINK_1' | translate" target="_blank" [title]="'INTRO.CRED_DESC_1' | translate" rel="noopener noreferrer">
            <img class="intro-dialog__icon" src="./assets/images/logo-github.png" [alt]="'INTRO.CRED_DESC_1' | translate">
          </a>
          <a class="intro-dialog__icon-url" [href]="'INTRO.CRED_LINK_2' | translate" target="_blank" [title]="'INTRO.CRED_DESC_2' | translate" rel="noopener noreferrer">
            <img class="intro-dialog__icon" src="./assets/images/logo-linkedin.png" [alt]="'INTRO.CRED_DESC_2' | translate">
          </a>
        </div>
      </div>
      <br><br>
      <p>
        {{ 'INTRO.REFERENCE' | translate }}
        <a class="intro-dialog__url" [href]="'INTRO.REFERENCE_LINK' | translate" target="_blank" title="Sorting Algorithm" rel="noopener noreferrer">
          {{ 'INTRO.REFERENCE_LINK' | translate }}
        </a>
      </p>
    </div>
    <div class="intro-dialog__footer">
      <button (click)="closeDialog()" [title]="'INTRO.CLOSE' | translate">
        {{ 'INTRO.CLOSE' | translate }}
      </button>
    </div>
  </div>
</div>