// * {
//   -webkit-touch-callout: none; /* iOS Safari */
//     -webkit-user-select: none; /* Safari */
//      -khtml-user-select: none; /* Konqueror HTML */
//        -moz-user-select: none; /* Old versions of Firefox */
//         -ms-user-select: none; /* Internet Explorer/Edge */
//             user-select: none; /* Non-prefixed version, currently
//                                   supported by Chrome, Edge, Opera and Firefox */
// }

input, textarea {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

// responsive breakpoints
$xs-breakpoint: 10em;
$sm-breakpoint: 20em;
$md-breakpoint: 47.9375em;
$lg-breakpoint: 61.9375em;
$xl-breakpoint: 1em;

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (max-width: $xs-breakpoint) { @content };
  }
  @if $breakpoint == sm {
    @media only screen and (max-width: $sm-breakpoint) { @content };
  }
  @if $breakpoint == md {
    @media only screen and (max-width: $md-breakpoint) { @content };
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: $lg-breakpoint) { @content };
  }
  @if $breakpoint == xl {
    @media only screen and (max-width: $xl-breakpoint) { @content };
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // to define 1rem = 10px
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  //height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a, p {
  font-size: 1.6rem;
  line-height: 2rem;
}

label {
  font-size: 1.4rem;
  line-height: 2rem;
}

button, input[type="button"] {
  cursor: pointer;
  padding: 1.2rem;
  line-height: .2rem;
  border: none;
  box-shadow: none;
  border-radius: .8rem;
  white-space: nowrap;
  height: 3rem;

  :disabled {
    cursor: not-allowed !important;
  }

  &.btn__minimal {
    font-size: 1.6rem;
    line-height: 2rem;
    border-radius: 0px;
    padding: 0px;
    height: auto;
    background-color: transparent;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: .8rem;

  & + label {
    cursor: pointer;
  }
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 3rem;
  padding: 1.2rem;
  border: 1px solid black;
  border-radius: .8rem;
}

input[type="range"] {
  cursor: pointer;
}

select {
  cursor: pointer;
  border: none;
  box-shadow: none;
  border-radius: .8rem;
  padding: 0px 1rem;
  width: 100%;
  height: 3rem;

  option {
    cursor: pointer;
  }
}

a, a:link, a:active, a:visited, a:hover {
  color: turquoise;
}

table, thead, tbody, tr, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  color: black;
  font-size: 1.4rem;
  background-color: white;
  a {
    font-size: 1.4rem;
  }
}

table {
  width: 100%;
}

th, td {
  padding: .5rem 1rem;
}

.fr {
  display: inline-block;

  &__top {
    border-bottom: solid black 1px;
  }
}

.whole {
  display: inline;
  vertical-align: super;
}